
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');

html {
    height:100%;
}

body{
        background-color:#476220; 
        /* background-image:url("../images/bg_image1.jpg"); */
        background-size: cover;
        background-repeat: no-repeat;        
        height:100%;
        font-family: Roboto, sans-serif;
        font-size: 0.88em;
        /* letter-spacing: 0.1em; */
        transition: all .2s ease;
        color:#707070;
        /* overflow-y: hidden; */
    }

#overlay {
        position: fixed; /* Sit on top of the page content */
        width: 100%; /* Full width (cover the whole page) */
        height: 100%; /* Full height (cover the whole page) */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5); /* Black background with opacity */
        z-index: -1; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
}


#map-container{
        /* width: 100%; */
    height: 100%;
} 

#results {
    z-index: 1030;
    position: fixed;
    top:0;
}

#info-tab{
    min-height: 300px;
    background-color:#fff;
    top: 100px;
    min-width: 350px;
}

#myTabContent {
    overflow-y: scroll;
    height: 500px;
}

#search-result-header{
    width:100%;
}    

#logo, #search-bar-wrapper {
    z-index: 700;
    position: fixed; 
    top:0;
}

#search-bar{
    min-width:220px;
}
#logo {
    left: 15px;
}

#logo img{
    max-height:70px;
}
#info-tab {
    z-index: 1030;
    position: fixed;
    left:10;
}

p {
    font-weight:200;
}
.container {
    width:100%;
    height:100%;
}

.home {
    height: 100%;
}


.text-shadow {
    text-shadow: 2px 2px 6px #333 ;

}

.bg-main {
    background-color: #99A139;
}

.logo-margin{
    margin-left: 50px;
}
.navbar-bg{
    opacity: 20%;
    background-color: #99A139;
    position: fixed;
    top:0;
    z-index: 1020;
    height: 100px;
    width: 100%;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip{
    background-color: #DEE0BE;

}
.leaflet-popup-content{
    padding:5px 3px 3px 3px;
    font-weight: 500;
    font-size: 14px;
    color:#002640;
}




.lightbrown {
    background-color:#D4BA83; 
}


